/* global */


@font-face {
	font-family: 'Calibri';
	src: url('/fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('/fonts/Calibri.woff') format('woff'), url('/fonts/Calibri.ttf') format('truetype'), url('/fonts/Calibri.svg#Calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Calibri';
	src: url('fonts/Calibri-Bold.woff2') format('woff2'),
		url('fonts/Calibri-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}



* {
	font-family: 'Calibri';
}

*:hover,
*:focus {
	transition-duration: 500ms;
}

h1 {
	font-weight: bold;
	font-size: 55px;
}


h2 {
	font-size: 24px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:focus,
a:hover {
	text-decoration: none;
	color: #7c7c7c;
}

input,
select {
	border-radius: 5px;
	border: 0;
	outline: none;
	font-size: 20px;
	padding: 0 10px;
}

.main-form input,
.main-form select {
	background-color: lightgrey;
	border-radius: 0;
}

.main-form input:hover,
.main-form select:hover {
	background-color: white;
}

input:focus,
input:hover {
	border: 0;
	outline: none;
}


button {
	background: #3cb570;
	font-family: 'Calibri';
	color: white;

	font-size: 20px;
	padding: 10px 15px;
	outline: none;
	border: 0;
	border-radius: 5px;
}

button.disabled {
	pointer-events: none;
	opacity: .8;
}

button:hover {
	outline: none;
	border: 0;
	background: #207847;
	cursor: pointer;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.5);
  }

.none {
	display: none;
}

.ldld {
	width: 100px;
}

/* phone */

.phone {
	margin-top: 33px;
	padding-right: 20px;

}

.number p {
	font-size: 20px;
	line-height: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.number p:nth-child(1) {
	font-size: 23px;
	font-weight: bold;
}

.phone img {
	margin-top: 4px;
	width: 50px;
	height: 50px;
}


/*home*/

.home h1 {
	margin-top: 40px;
	margin-bottom: 25px;
}

.home p,
h1,
h2 {
	color: white;
}

.home h2 {
	margin-bottom: 35px;
}

.home select {
	height: 42px;
	width: 215px;
	background: #e7ecf2;
	border: 0;
	padding: 0 5px;
	font-size: 20px;
	margin-bottom: 20px;
	outline: none:
}



.home select:hover,
.home select:focus {
	background: white;
	border: 0;
	outline: none:
}

.home .calculateresult p:nth-child(1) {
	margin-top: 45px;
}

.home .calculateresult p {
	margin: 0;
	font-size: 20px;
	line-height: 25px;
}


.home .inputnumber {
	margin-top: 50px;
}

.home .inputnumber input {
	margin-right: 25px;
}

.submit-contacts__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	overflow: hidden;
	padding-top: 20px;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	min-width: 95px;
}

.socials__item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.socials__item:first-child {
	margin-right: 19px;
}

.socials__item [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.socials__item img{
	cursor: pointer;
}

.socials__item img:hover {
	filter: drop-shadow(0 0 0.35rem white);
}

.socials__item [type=radio]:checked + img {
	filter: drop-shadow(0 0 0.35rem white);
}

.socials__item_gmail {
	order: 2;
	margin-top: 17px;
}

.icon {
	height: auto;
	width: 38px;
	max-width: 100%;
	
}

.gmail {
	width: 50px;
}

.submit-contacts__text {
	margin-bottom: 0;

	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;

	white-space: pre-wrap;
}

.submit-contacts__text_disabled {
	display: none;
}

.form-contacts-wrap {
	flex-grow: 1;
}

.form-contacts {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* align-items: center;
	justify-content: space-between; */
}

.form-contacts__input {
	box-sizing: border-box;
	width: 100%;
	height: auto !important;
	padding: 5px 15px;
	margin-bottom: 15px;
}

.form-contacts__input_email {
	order: 1; 
}

.form-contacts__button {
	order: 2;
	padding: 7px 15px;
	text-transform: uppercase;
}

.w100 {
	width: 100%;
}

.ss-main .ss-single-selected .placeholder .ss-disabled {
	/* color: #666 !important; */
	background-color: inherit !important;
	margin-top: 10px;
}

.ss-main * {
	color: #000 !important;
}


/*footer */

footer p {
	text-decoration: underline;
	font-size: 18px;
	margin-top: 20px;
}


@media screen and (min-width: 600px) {
	.icon {
		margin-right: 0;
		width: 50px;
	}

	.submit-contacts__wrap {
		align-items: center;
		flex-direction: column;
		padding-top: 0;
	}

	.socials {
		align-items: center;
	}

	.submit-contacts__text {
		margin-bottom: 0;

		font-size: 20px;
		white-space: normal;
	}

	.submit-contacts__text_disabled {
		display: initial;
		margin: 0 50px;
	}

	.gmail {
		width: 60px;
		margin: 0 50px;
	}

	.w100 {
		display: none;
	}

	.socials {
		margin: 20px 0;
	}

	.socials__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.socials__item_gmail {
		order: 0;
		margin-top: 0;
	}

	.socials__item:first-child {
		margin-right: 0;
	}

	.socials__item [type=radio] { 
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	.socials__item img{
		cursor: pointer;
	}
	
	.socials__item img:hover {
		filter: drop-shadow(0 0 0.35rem white);
	}

	.socials__item [type=radio]:checked + img {
		filter: drop-shadow(0 0 0.35rem white);
	}

	.form-contacts {
		flex-direction: row;
		justify-content: space-between;
	}

	.form-contacts__input {
		padding: 10px 15px;
		margin-bottom: 0;
	}

	.form-contacts__input_email {
		order: 0; 
	}

	.form-contacts__button {
		padding: 12px 15px;
		margin-left: 25px;
	}

	.ss-main .ss-single-selected .placeholder .ss-disabled {
		margin-top: 20px;
	}

	.ss-main * {
		color: #666 !important;
	}
}